{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 offset-md-4">
            <h4>Bem vindo ao sistema, {{ app.user.username | title }}</h4>
        </div>
    </div>
{% endblock %}