{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-4">
            <h2>Lista de tarefas |
                <small>criar</small>
            </h2>
        </div>
    </div>

    <br>

    <div class="container">

        <form  method="POST">
            <div class="row">
                <div class="offset-10 col-2">
                    <button class="btn btn-success float-right">
                        <span>Salvar lista</span>
                    </button>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            {{ form_start(form) }}
                            <div class="row">
                                <div class="col-4">
                                    {{ form_row(form.name, {'attr':{'class': 'form-control'}}) }}
                                </div>

                                <div class="col-8">
                                    {{ form_row(form.description, {'attr':{'class': 'form-control'}}) }}
                                </div>
                            </div>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="offset-10 col-2">
                    <button type="submit" class="btn btn-success float-right" id="save">
                        <span>Salvar lista</span>
                    </button>
                </div>
            </div>
        </form>

    </div>
{% endblock %}